@model IEnumerable<WebappBruno.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogo Libros</h1>

<p>
    <a asp-action="Create">Añadir Libro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                Año de Publicación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioPublicacion)
            </td>
            <td>
                    @*@Html.DisplayFor(modelItem => item.Foto)*@               
                    <img src="@item.Foto" class="perfil-foto" style="max-width: 183px; max-height: 275px;"  />
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
